<ion-view view-title="{{listaActual.nombre}}">
	<ion-content>
		<div class="button-bar">
		  <a class="button icon-left ion-information-circled button-positive" ng-click="showTotal(listaActual.idLista)">Total</a>
		  <a class="button icon-left ion-close button-positive" ng-click="showConfirmVaciar(listaActual.idLista)">Vaciar</a>
		</div>	
		<ul class="list">	
			<li class="item" ng-repeat="item in items track by item.idItem" index="item.idItem">		
				<ion-checkbox ng-model="item.checked" ng-change="tacharDestachar(item.idItem,item.checked)">{{item.nombre}}</ion-checkbox>
				<span class="item-precio">{{item.precio}}</span>
				<a class="button icono-borrar button-icon icon ion-trash-b" ng-click="showConfirmDelete()"></a>	
			</li>	
		</ul>	
		<button ng-click="createModalItem()" class="pull-right button button-icon icon ion-plus-circled"></button>
	</ion-content>
</ion-view>