<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Nuevo Item</h1>
    <button class="button button-clear button-primary" ng-click="modal.remove()">Cancelar</button>
  </ion-header-bar>
  <ion-content class="padding">
    <form name="formAddItem">
      <div class="list">
        <label class="item item-input">
          <input required placeholder="Titulo" ng-model="nuevoItem.nombre" type="text">
        </label>
        <button ng-disabled="formAddItem.$invalid"class="button button-full button-positive" ng-click="addItem(nuevoItem)">Guardar</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>