.div-item {
	height: 50px;
}

.item-nombre {
	display: inline;
	font-size:15px;
	font-weight: bold;
}

.precio {
	margin-right: 40px;
	margin-top: 5px;
}

.icono-borrar {
	float: right;
	position: relative;
	bottom: 10px;
}
