<ion-view>
  	<ion-side-menus enable-menu-with-back-views="true">
	  <ion-side-menu-content>
	  		<ion-nav-bar class="bar-positive">
				<ion-nav-buttons side="right">
					<button ng-click="toggleLeft()" class="button button-icon button-clear ion-navicon" menu-toggle="right">
					</button>
				</ion-nav-buttons>
				<ion-nav-buttons side="left">
					<button ng-click="$ionicGoBack()" nav-direction="back" class="button button-icon button-clear ion-ios-arrow-back">Mis Listas
					</button>
				</ion-nav-buttons>
				<ion-nav-title>
					{{listaActual.nombre}}
				</ion-nav-title>
			</ion-nav-bar>
		  	<div style="margin-top: 45px;" class="button-bar bar-dark">
			  <a ng-disabled="listaActual.items.length==0 || listaActual.items==undefined" class="button icon-left ion-information-circled button-dark" ng-click="showTotal(listaActual.$id)">Total</a>
			  <a ng-click="createModalItem()" class="button icon-left ion-plus-circled button-dark">Agregar</a>
			  <a ng-disabled="listaActual.items.length==0 || listaActual.items==undefined " class="button icon-left ion-close button-dark" ng-click="vaciar(listaActual.$id)">Vaciar</a>
			</div>
			<h2 class="mensaje-vacio" ng-show="listaActual.items.length==0">Lista vacia. Agregue un item!</h2>	
			<div class="list list-inset">
				<div class="item div-item" ng-repeat="item in listaActual.items track by $index" index="item.$id">
					<input type="checkbox" id="{{item.$id}}" class="check" ng-model="item.checked" ng-change="tacharDestachar(item.$id, item.checked)"><label class="label-check" for="{{item.$id}}">{{item.nombre}}</label>
					<span class="badge badge-assertive precio">${{item.precio}}</span>
					<a class="button icono-borrar button-icon icon ion-trash-b" ng-click="deleteItem(item.$id, listaActual.$id)"></a>
				</div>
			</div>
			<a ng-click="createModalMembers()" ng-if="myUserId == listaActual.userIdCreator" class="button icon-left ion-plus-circled button-dark">Agregar members</a>
			<a ng-click="salirLista(listaActual.$id)" ng-if="myUserId != listaActual.userIdCreator" class="button">Salir de la lista</a>
	  </ion-side-menu-content>
	  <!-- Right menu -->
	  <ion-side-menu side="right">
	  	<ion-header-bar class="bar-positive">
			<h1 class="title">Miembros</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item ng-repeat="user in listaActual.users track by $index" menu-close>
					<img ng-src="{{user.photo}}">{{user.name}}
				</ion-item>
			</ion-list>
		</ion-content>
	  </ion-side-menu>
	</ion-side-menus>
</ion-view>
