<ion-view view-title="Listas Compartidas">
	<ion-nav-bar class="bar-positive">
    </ion-nav-bar>
	<ion-content>
		<button class="button button-primary" ng-click="logout()">{{userData.name}} Cerrar Sesion</button>
		<img ng-src="{{userData.photo}}">
	    <h2 class="mensaje-vacio" ng-show="misListas.length == 0">Aun no tiene listas. Agregue una!</h2>
		<div class="card" ng-hide="misListas.length == 0">
		  <div ng-repeat="lista in misListas track by $index" class="item item-text-wrap">
		  	<a nav-direction="forward" nav-transition="android" href="#/main/lista-remote/{{lista.$id}}">
		  		<h2 class="titulo-lista">{{lista.nombre}}</h2>
		  	</a>
		  	<a ng-if="userData.$id == lista.userIdCreator" ng-click="showConfirmDeleteList(lista)" class="button button-icon icon ion-trash-b tacho-eliminar-lista"></a>
		    <p>{{lista.detalle}}</p>	
		  </div>
		</div>
	</ion-content>  
	<div class="footer-mislistas">
		<a ng-click="createModalListComp()" class="button button-icon icon ion-plus-circled positive boton-agregar"></a>	
		<a ng-click="me()">me</a>
	</div>
</ion-view>
